body{
    font-family: 'Arial','Helvetica Neue','Helvetica','sans-serif';
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}
hgroup > h1, h2,  {
    margin: 20px 15px;
    padding: 0%;
    padding: left;
    width: 496px;
    height: 150px;
    background: #ebebeb;
    border-style: solid;
    ::-ms-clear

}
h2{
    height: 60px;
    background: #ebebeb;
    color:#777;
    border-style:solid;
    margin-top: 0.7cm;
    margin-bottom: 0.6cm;
}
.h3 {
    margin: 0;
    width: 490px;
    background: #ebebeb;
    border-style:solid;
   
}
p{
    background: #ebebeb;
    color: #777;
    border-style: solid;
    display:grid;
    height: 60px;
    margin-top: 0.2cm;
    margin-bottom: 0.4cm;
}
.article {
    width: 440px;
    height: 280px;
    margin: 0px, 10px;
    color: #ebebeb;
    background: #777;
    margin-left: 0.8cm;
    margin-top: 1cm;
    text-align:center;
    overflow: visible;
    display:block;
    

}
.header {
    
    padding: 52px;
    margin: 0cm;
    text-align: center;
    background: #ebebeb;
    color: #777;
    font-size: 18px;   
    display:block;
  }
.nav {
    
    margin: 0cm;
    text-align: center;
    height: 120px;
    background: #ebebeb;
    font-size: 15px;
    margin-top: 0cm;
    
    

}
.section {

width:495px;
background: #ebebeb;
padding-left: 0%;
text-align: center;
margin: 0cm;
overflow: visible;
height: 400px;


}

.h2{
    
    background-color: #ebebeb;
    border-style: solid;
    padding: 0cm;
    display: block;
    
}

.aside {
    width: 425px;
    padding-left: 0%;
    padding:0px;
    margin: 21px 15px;
    margin-right: 0cm;
    display: block;
    float:right;
    font-size: 25px;
    background: #ebebeb;
    height: 400px;
    text-align: center;
  


}
.footer{
    margin: 5px, 10px;
    height: 150px;
    background: #ebebeb;
    text-align:center;
}